@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:ital,wght@0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');

.flex-container{
    display: flex; /* or inline-flex */
    flex-direction: column;
    /* justify-content: space-between; */
    justify-content: center;

    /* margin-left: 20%; */
    /* margin-right: 20%; */
    margin: auto;


    margin-top: 10px;
    margin-bottom: 100px;
    min-width: 700px;
    max-width: 58%;

}

.flex-item{
    padding: 10px;
    /* min-width: 80%; */
}


.chart-container {
    width: 100%;
    height: 500px;
    background-color: #fff;
    border-color: lightgray;
    border-style: solid;
    border-width: .2rem;
    margin-top: 1rem;
}

body {
    font-family:"Work Sans", sans-serif;

    height: 100%;
    background-color: #eee;
    background-image:         linear-gradient(top, pink, white, skyblue,); /* W3C */
    background-image:    -moz-linear-gradient(top, pink, white, skyblue); /* FF3.6+ */
    background-image: -webkit-linear-gradient(top, pink, white, skyblue); /* Chrome10+,Safari5.1+ */
    background-attachment: fixed;

}

#header {
    /* margin: auto;
    
    margin-top: 20px;
    margin-bottom: 20px;
    min-width: 700px;
    max-width: 55%; */

    /* margin-left: 20%;
    margin-right: 20%; */

    /* padding: 10px; */
    font-family: "Space Mono",sans-serif;
    /* min-width: 700px;
    max-width: 60%; */

}


#page-title {
    font-size: 2.75rem;
    font-weight: bolder;
    text-shadow: -3px 3px 0px #fff;
    margin-bottom: 0px;
}

#byline {
    font-size:1.5rem;
    font-weight: 400;
    /* font-family: "Work Sans", sans-serif; */
}

#section-title {
    font-size: 1.75rem;
    font-weight: 500;
    font-family: "Work Sans", sans-serif;
    margin-bottom: .2rem;
}

.mapboxgl-popup {
    font-family:"Work Sans", sans-serif;
}


.mapboxgl-popup-content {
    font-family:"Work Sans", sans-serif;
    margin: 0;

}

/* div#map-tooltip {
    display: none;
    font-family: 'Work Sans', sand-serif;
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 125px;
    height: 125px;
    background: #eee;
    padding: 8px;
    border-radius: 8px;
    box-shadow: -1px 1px 4px lightgrey;

 
    
}

div#map-tooltip > div {
    margin-bottom: 5px;
} */



.legend {
    background-color: #fff;
    border-radius: 3px;
    bottom: 30px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    font: 12px/20px "Work Sans", sans-serif;
    padding: 10px;
    position: absolute;
    right: 10px;
    z-index: 1;
}
     
.legend h4 {
    margin: 0 0 10px;
    /* padding: 5px; */
}
     
.legend div span {
    border-radius: 10%;
    display: inline-block; 
    height: 10px;
    margin-right: 5px;
    width: 10px;
}

#tweet-leg-header {
    margin-top: 7px;
}

#tweet-leg{
    border-radius: 50%;
    display: inline-block; 
    height: 10px;
    margin-right: 5px;
    width: 10px;
    stroke-width: 1;
}

#resource-list > li{
    margin: 0 0 20px 0;
}

hr {
    width: 50%;
    border: 2px solid black;
    box-shadow: -3px 3px 0px #fff;
}

/* a {
    hover
} */

#footer{
    /* margin: 5rem; */
    font-family: "Space Mono",sans-serif;
    display: flex; 
    justify-content: center;
    font-weight: 500;
    font-size: small;

    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    min-width: 700px;
    max-width: 55%;
}

#footer p {
    padding: 10px;
}


@media screen and (max-width: 1010px) {
    .flex-container {
       /* margin: 10%; */
       max-width: 700px;
       min-width: 500px;
       margin-top: 10px;

    }
    #header {
        margin-top: 15px;
        max-width: 700px;
        min-width: 500px;
        /* margin-left: 10%; */
        /* margin-right: 10%; */

    }
  }


@media screen and (max-width: 768px) {
    .flex-container{
       margin: 5%;
       min-width: 200px;
       margin-top: 10px;

    }
    /* #header {
        margin-top: 10px;
        margin-left: 5%;
        margin-right: 5%;
    } */
  }



/* @media screen and (min-width: 769px) and (max-width: 1000) {
    .flex-container, #header {
       margin: 10%;
    }
    #header {
        margin-top: 20px;
    }
  } */